.similar{
    color: azure;
    margin:0% 7% 0% 7%;
    height: 400px;
    .head{
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        align-items: center;
        .title{
            font-size: xx-large;
        }
    }
}
@media screen and (max-width:"400px") {
    .similar{
        color: azure;
        margin: 5%;
        margin-top: 8%;
        height: 400px;
        .head{
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
            align-items: center;
            width: 150%;
            .title{
                font-size: x-large;
            }
        }
    }
}