.detailsBanner{
    .backdrop{
        width: 100%;
        height: 90vh;
        overflow-x: hidden;
        overflow-y: hidden;
        opacity: 0.2;
        img{
            width: 100%;
            height: 90vh;
        }
    }
    .detailinfo{
        width: 100%;
        height: 80vh;
        position: absolute;
        top:10%;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        .poster{
            width: 25%;
            height: 80%;
            img{
                height: 100%;
                width: 100%;
                border-radius: 5px;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.456);
            }
            .adult{
                background-color: red;
                color: azure;
                border-radius: 2px;
                width: 40px;
                height: 40px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 1%;
                left: 30%;
            }
        }
        .other-info{
            width: 50%;
            height: 90%;
            display: flex;
            flex-direction: column;
            color: azure;
            .summary{
                height: 60%;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                .title{
                    font-size: xx-large;
                    margin-bottom: 20px;
                }
                .summarygenres{
                    //margin: 10px;
                    .summary-genres{
                        height: 20px;
                        width: 100px;
                        margin-right: 10px;
                        padding: 5px;
                        border: none;
                        border-radius: 8px;
                        background-color:rgba(62, 103, 161, 0.715) ;
                    }
                }
                .summary-info{
                    margin-top: 30px;
                    .overview-title{
                        font-size: x-large;
                    }
                    hr{
                        margin-bottom: 10px;
                    }
                    .overview{
                        height: 100px;
                        color: rgba(240, 255, 255, 0.814);
                        overflow: hidden;
                    }
                }
                /* Hide scrollbar for Chrome, Safari and Opera */
                .summary-info::-webkit-scrollbar {
                    display: none;
                }
  
                /* Hide scrollbar for IE, Edge and Firefox */
                .summary-info {
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                }
                .summary-btn{
                    margin-top: 7%;
                    display: flex;
                    align-items: center;
                    .rating{
                        background-color: rgba(100, 244, 244, 0.3);
                        padding:8px 20px 8px 20px;
                        border:none ;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        font-size: larger;
                    }
                    .trailer-btn{
                            display: flex;
                            align-items: center;
                            margin-left: 40px;
                    }
                    .trailer-btn:hover{
                        color: rgb(255, 0, 93);
                        cursor: pointer;
                    }
                    .trailer-btn-md{
                        display: flex;
                        align-items: center;
                        margin-left: 40px;
                        color: azure;
                        text-decoration: none;
                        display: none;
                   }
                   
                }

            }
        }
        .details{
            font-size: larger;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width:"600px"){
    .detailsBanner{
        font-size:14px;
        .backdrop{
            width: 100%;
            height: 120vh;
            overflow-x: hidden;
            overflow-y: hidden;
            opacity: 0.2;
            img{
                width: 100%;
                height: 120vh;
            }
        }
        .detailinfo{
            width: 100%;
            top:2%;
            height: 1000px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20%;
            .poster{
                display: none;
            }
            .other-info{
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction: column;
                color: azure;
                .summary{
                    height: 60%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    .title{
                        margin-top: 10%;
                        font-size: 25px;
                        font-weight: 900;
                        margin-bottom: 5%;
                    }
                    .summarygenres{
                        //background-color: aqua;
                        display: flex;
                        .summary-genres{
                            height: 25px;
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-right: 10px;
                            border: none;
                            overflow-y: hidden;
                            border-radius: 5px;
                            background-color:rgba(62, 103, 161, 0.715) ;
                        }
                    }
                    .summary-info{
                        margin-top: 20px;
                        height: 40%;
                        overflow: scroll;
                        overflow-x: hidden;
                        font-weight: 500;
                        color: rgb(255, 255, 255);
                        .overview-title{
                            font-size: x-large;
                         }
                         hr{
                            display: none;
                         }
                        .overview{
                         height: 100px;
                         color: rgba(240, 255, 255, 0.814);
                         overflow: visible;
                        }
                    }
                    /* Hide scrollbar for Chrome, Safari and Opera */
                    .summary-info::-webkit-scrollbar {
                        display: none;
                    }
      
                    /* Hide scrollbar for IE, Edge and Firefox */
                    .summary-info {
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */
                    }
                    .summary-btn{
                        margin-top: 10%;
                        .trailer-btn{
                            display: none;
                        }
                        .trailer-btn-md{
                            display: flex;
                            align-items: center;
                            margin-left: 40px;
                            color: azure;
                            text-decoration: none;
                       }
                       .trailer-btn-md:hover{
                        color: rgb(255, 0, 93);
                        cursor: pointer;
                       }
                    }
                }
            }
            .details{
                font-size: larger;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .de{
                    margin-top: 40px;
                }
            }
        }
    }
}
@media screen and (max-width:"400px"){
    
    .detailsBanner{
        font-size: larger;
        .backdrop{
            width: 100%;
            height: 100vh;
            opacity: 0.2;
            overflow: visible;
            img{
                width: 140%;
                height: 100vh;
            }
        }
        .detailinfo{
            width: 140%;
            height: 1000px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30%;
            .poster{
                display: none;
            }
            .other-info{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                color: azure;
                .summary{
                    height: 60%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    .title{
                        margin-top: 10%;
                        font-size: xx-large;
                        margin-bottom: 10%;
                    }
                    .summarygenres{
                        //background-color: aqua;
                        display: none;
                        .summary-genres{
                            height: 30px;
                            width: 30%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-left:15px;
                            padding-right: 15px;
                            border: none;
                            overflow: hidden;
                            border-radius: 5px;
                            background-color:rgba(62, 103, 161, 0.715) ;
                        }
                    }
                    .summary-info{
                        margin-top: 30px;
                        height: 30%;
                        overflow: visible;
                        font-weight: 500;
                        color: rgb(255, 255, 255);
                        margin-top: 30px;
                        .overview-title{
                           font-size: x-large;
                        }
                        hr{
                        margin-bottom: 9px;
                        }
                       .overview{
                        height: 100px;
                        color: rgba(240, 255, 255, 0.814);
                        overflow: hidden;
                       }
                    }
                    /* Hide scrollbar for Chrome, Safari and Opera */
                    .summary-info::-webkit-scrollbar {
                        display: none;
                    }
      
                    /* Hide scrollbar for IE, Edge and Firefox */
                    .summary-info {
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */
                    }
                    .summary-btn{
                        margin-top: 7%;
                        .trailer-btn{display: none;}
                        .trailer-btn-md{
                            display: flex;
                            align-items: center;
                            margin-left: 40px;
                            color: azure;
                            text-decoration: none;
                       }
                       .trailer-btn-md:hover{
                        color: rgb(255, 0, 93);
                        cursor: pointer;
                    }
                    }
                }
            }
        }
        .details{
            font-size: larger;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .de{
                margin-top: 40px;
            }
        }
    }
    
}
@media screen and (max-height:600px){
    .detailsBanner{
        font-size: small;
    }
    .overview{
        display: hidden;
        margin-bottom: 0px;
    }
    .summary-info{
        margin-top: 0px;
    }
    .detailinfo{
        overflow: scroll;
    }
    .detailinfo::-webkit-scrollbar{
        display: none;
    }
    .summary-btn{
        margin-top: 0%;
    }
    .summary-genres{
        display: none;
    }
}
    